body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

h1{
  font-size: 100px;
  margin-bottom: 100px;
}

.todo {
  cursor: pointer;
  font-size: 40px;
  padding-bottom: 15px;
  
}

.strike {
  text-decoration: line-through;
}

form{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#enterTask{
  font-size: 25px;
  padding-left: 10px;
}

#submitForm {
  margin-top: 20px;
}

#submitBtn {
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  padding: 20px 30px 20px 30px;
  margin-left: 20px;
  font-size: 23px;
  background-color: rgba(205, 200, 199, 0.938);
  color:rgb(49, 50, 50);
  border: none;
}

#clearBtn{
  font-family: 'Poppins', sans-serif;
  border-radius: 5px;
  padding: 10px;
  margin-left: 20px;
  font-size: 75px;
  background-color: transparent;
  border: none;
}
